<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ed's CV</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Title</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <h1>Contact Me</h1>
          <small>Or don't...I don't really care.</small>
        </div>
      </div>
    </div>
  </body>
</html>