!!!
%html
    %head
        %title Jeremy Walker's CV
        %link{href:"./cv.css", rel:"stylesheet", type:"text/css"}

    %body
        %article
            %header
                %img{src:"./jeremy.jpg"}
                %h1 Jeremy Walker

                %address 22 Elm Tree Road, Strichley, Birmingham, B30 2BN
                #phone 07743078349
                #email jez.walker@gmail.com

            %section
                %h2 Overview
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
            %section
                %h2 Experience
                %h2 My First Job
                %time 2005-2008
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
                %h3 My Second Job
                %time 2008-2013
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            %section
                %h2 Qualifications
                %ul
                    %li GCSEs
                    %li A-Levels
                    %li Degree
            %section
                %h2 Skills
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.