body {
    font-family:Arial;
    background:#ccc;
    margin:0px;
    font-size:15px;
    line-height:15px;
}

article {
    width:1000px;
    background:#fff;
    margin:30px auto;
    padding:30px;
}

header {
    border-bottom:1px solid #ccc;
    margin-bottom:25px;
}
header h1 {
    font-weight:normal;
    font-size:30px;
    margin-top:0px;
    margin-bottom:25px;
}

header img {
    float:right;
    width:100px;
    border:solid #ccc;
    border-width:1px 1px 0px 1px;
    padding:2px;
    background:#fff;
}

header address, header #phone, header #email {
    font-style:normal;
    margin-bottom:5px;
}

section {
    padding:0px 0px 30px 0px;
}

h2 {
    font-weight:normal;
    font-size:25px;
    line-height:25px;
    margin:0px;
}

h2+p {
    margin-top:10px;
}

h3 {
    font-weight:normal;
    font-size:20px;
    line-height:20px;
    margin:30px 0px 0px 10px;
}

h2+h3 {
    margin-top:20px;
}

h3+p, h3+time {
    margin-top:10px;
}

time {
    display:block;
    margin:0px 0px 0px 10px;
}
p {
    margin:10px 0px 10px 20px;
}

header:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}