body {
    font-family:Arial;
    background: url('./bg.jpg') #eee;
    margin:0px;
    font-size:15px;
    line-height:21px;
    color:#333;
}

article {
    width:600px;
    background:#fff;
    margin:30px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ccc;
    border:1px solid #c1dbf1;
}

header {
    border-bottom:1px solid #c1dbf1;
    margin-bottom:20px;
    padding:20px 30px;
    background:#ebf2f5;
    position:relative;
}
header h1 {
    font-weight:normal;
    font-size:30px;
    margin-top:0px;
    margin-bottom:25px;
}

header img {
    /*float:right; - Easy way */ 
    position:absolute;
    top:0px;
    right:0px;
    height:134px;
    padding:5px 5px 0px 5px;
    background:#fff;
    border-left:1px solid #c1dbf1;
}

header address, header #phone, header #email {
    font-style:italic;
    font-size:14px;
    line-height:14px;
}
header address, header #phone {
    margin-bottom:5px;
}

section {
    border-bottom: 1px solid #c1dbf1;
    margin: 10px 0px;
    padding: 10px 30px;
}

h2 {
    font-weight:normal;
    font-size:25px;
    line-height:25px;
    margin:0px;
}

h2+p {
    margin-top:10px;
}

h3 {
    font-weight:normal;
    font-size:20px;
    line-height:20px;
    margin:30px 0px 0px 0px;
}

h2+h3 {
    margin-top:20px;
}

h3+p, h3+time {
    margin-top:10px;
}

time {
    display:block;
    margin:0px;
}
p {
    margin:10px 0px 10px 00px;
}

header:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}